@charset "UTF-8";
#logo {
	height: inherit;
	width: 20%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	clear: both;
}
#content {
	margin: 0 auto;
}
body {
	background-color: #282828;
	font-size: 1em;
	color: #ddd;
}
p {
	text-align: center;
}
